<!DOCTYPE html>
<html>
<head>
  <title><%= title || "Expense Tracker" %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <% if (user) { %>
  <header class="dashboard-header">
    <div class="welcome-text">
      Welcome, <span><%= user.username %></span>
    </div>

    <div class="header-actions">
      <a href="/expenses" class="expenses-btn">Expenses</a>

      <form action="/logout" method="POST">
        <button type="submit" class="logout-btn">Logout</button>
      </form>
    </div>
  </header>
<% } else { %>
 
    <nav>
    <a href="/login" class="<%= currentPage === 'login' ? 'active' : '' %>">Login</a>
    <a href="/signup" class="<%= currentPage === 'signup' ? 'active' : '' %>">Sign Up</a>

    </nav>
 
    
  <% } %>

  <% if (error) { %>
    <p class="error"><%= error %></p>
  <% } %>

  <%- body %>

</body>
</html>
